@import "../global.scss";

.center {
  display: flex;
  justify-content: center;
}

.title {
  text-align: center;
}

.content {
  padding: 4rem;
}

.gridContainer {
  display: grid;
  padding: 1rem;
  grid-template-columns: auto auto;
  img {
    width: 100%;
  }
}
