@import '../global.scss';

.center{
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.title{
    color: $textColor1;
    font-weight: 400;
    text-align: center;
}

.content{
    color: $textColor2;
    font-weight: 600;
    padding: 4rem;
}

.gridContainer{
    display: grid;
    padding: 1rem;
    grid-template-columns: auto auto;
    img{
        width: 100%;
    }
}